window {
	margin: 5px;
	border: 2px solid #444444;
	background-color: rgba(21, 21, 21, 0.5);
}

#input {
	margin: 5px;
	border: 2px solid #444444;
	background-color: #3f3f3f;
}

#inner-box {
	background-color: rgba(21, 21, 21, 0.5);
}

#outer-box {
	background-color: rgba(21, 21, 21, 0.5);
}

#scroll {
	margin: 5px;
	border: 2px solid #444444;
	background-color: #222222;
}

#text {
	margin: 5px;
	border: 0px solid #444444;
	color: #dddddd;
}

#entry {
	background-color: rgba(21, 21, 21, 0.5);
}

#entry:selected {
	background-color: #3f3f3f;
}

#text:selected {
	background-color: #3f3f3f;
}
